<configuration>

  <packageSources>
    <add key="github-lincoln" value="https://nuget.pkg.github.com/City-of-Lincoln-Council/index.json" />
  </packageSources>

  <packageSourceCredentials>
    <github-lincoln>
      <add key="Username" value="%LINCOLN_NUGET_USERNAME%" />
      <add key="ClearTextPassword" value= "%LINCOLN_PACKAGES_TOKEN%" />
    </github-lincoln>
  </packageSourceCredentials>

  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>
